@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    &::-webkit-scrollbar {
      @apply w-4;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-3xl border-4 border-solid border-transparent bg-dark bg-clip-content hover:bg-dark/90 dark:bg-white dark:hover:bg-white/90;
    }
  }
  :not(body) {
    &::-webkit-scrollbar {
      @apply w-2 bg-transparent;
    }
    &::-webkit-scrollbar-thumb {
      @apply rounded-3xl bg-dark hover:bg-dark/90 dark:bg-white dark:hover:bg-white/90;
    }
  }
  :is(h1, h2, h3) {
    @apply text-balance font-heading font-extrabold tracking-tighter;
  }
  p {
    @apply font-medium leading-relaxed tracking-normal;
  }
  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }
  input[type='search']::-webkit-search-cancel-button {
    @apply appearance-none;
  }
  ::selection {
    @apply bg-primary text-white;
  }
}

@layer components {
  .logo {
    @apply select-none brightness-0 transition-all dark:brightness-100;
  }
  .theme-link {
    @apply transition-colors hover:text-theme;
  }
  .theme-btn {
    @apply btn-primary btn h-fit min-h-0 px-6 py-3 font-sans text-base normal-case tracking-wide text-white;
  }
  .theme-input {
    @apply input-bordered input-primary input w-full;
  }
  .theme-input.error {
    @apply input-error;
  }
  .main-container {
    @apply mx-auto max-w-screen-xl;
  }
  .image-layer-btn {
    @apply inline-block rounded-md p-2 font-semibold transition-colors;
  }
  .image-layer-btn.cs-fixed {
    @apply bg-white text-dark hover:bg-theme hover:text-white;
  }
  .image-layer-btn.cs-change {
    @apply bg-dark text-white hover:bg-theme hover:text-white dark:bg-white dark:text-dark dark:hover:bg-theme dark:hover:text-white;
  }
  .image-layout-cover {
    @apply before:focus-gradient absolute inset-0 opacity-0 transition-opacity before:pointer-events-none before:absolute before:inset-0 hover:opacity-100;
  }
  .loading-circle {
    @apply block aspect-square w-5 rounded-circle bg-neutral-700;
  }
  .menu-option {
    @apply capitalize transition-colors first:rounded-t-md last:rounded-b-md;
  }
  .avatar-menu-option {
    @apply flex items-center gap-x-4 p-3 normal-case;
  }
  .modal-arrow {
    @apply text-7xl text-white transition-colors hover:text-theme disabled:opacity-30 hover:disabled:text-current;
  }
  .bg-cs-change {
    @apply bg-neutral-100 dark:bg-neutral-900;
  }
  .bg-image {
    @apply bg-cover bg-no-repeat;
  }
  .menu-suggestion {
    @apply bg-cs-change flex cursor-pointer items-center gap-4 py-2 pl-4 first:rounded-t-xl last:rounded-b-xl hover:bg-neutral-200 dark:hover:bg-neutral-800;
  }
  .menu-suggestion.focus {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }
  .credential-input {
    @apply h-full w-full rounded-3xl border border-neutral-500 bg-transparent px-4 py-3;
  }
  .credential-input.error {
    @apply border-error outline-none;
  }
  .profile-page-link {
    @apply relative flex items-center gap-x-2 p-2 text-xs font-semibold capitalize transition-colors after:absolute after:bottom-0 after:translate-y-1/2 after:bg-dark after:transition-all after:duration-300 after:dark:bg-white sm:p-3 sm:text-base hover:[&:not(.text-dark,.dark\:text-white)]:text-theme;
  }
  .profile-page-link.focus {
    @apply after:left-[var(--trailer-border-position)] after:h-[2px] after:w-[var(--trailer-border-width)];
  }
}

@layer utilities {
  .h-inherit {
    height: inherit;
  }
  .transition-inherit {
    transition: inherit;
  }
  .focus-gradient {
    background: radial-gradient(#0000, #0005);
  }
  .focus-gradient-lg {
    background: radial-gradient(#0000, #000000bf);
  }
  .text-balance {
    text-wrap: balance;
  }
  /* this is for .toggle component */
  .toggle-on {
    --handleoffsetcalculator: var(--handleoffset);
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
  }
}

.transition-off * {
  transition: none !important;
  &::before,
  &::after {
    transition: none !important;
  }
}

body.scrolling-disabled {
  @apply overflow-y-hidden pr-4;
  & header > div {
    @apply pr-4;
  }
}
