@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden font-monsterrat text-dark transition-colors dark:bg-dark dark:text-white;
  }
  body::-webkit-scrollbar {
    @apply w-4 bg-neutral-100 dark:bg-neutral-900;
  }
  body::-webkit-scrollbar-thumb {
    @apply rounded-3xl border-4 border-solid border-transparent bg-dark bg-clip-content hover:bg-dark/90 dark:bg-white dark:hover:bg-white/90;
  }
  h1 {
    @apply text-5xl font-extrabold sm:text-6xl;
  }
  h2 {
    @apply mb-4 text-3xl font-extrabold sm:text-4xl;
  }
  h4 {
    @apply my-4 font-rubik text-lg font-bold;
  }
  p {
    @apply font-rubik leading-relaxed;
  }
  a,
  button {
    -webkit-tap-highlight-color: transparent;
  }
  input[type='search']::-webkit-search-cancel-button {
    @apply appearance-none;
  }
  ::selection {
    @apply bg-cyan-500 text-white;
  }
}

@layer components {
  .logo {
    @apply select-none brightness-0 transition-all dark:brightness-100;
  }
  .bg-mesh-grandient {
    @apply mesh-grandient fixed left-0 top-0 -z-10 min-h-screen w-full;
  }
  .main-container {
    @apply mx-auto max-w-screen-xl;
  }
  .theme-gradient {
    @apply bg-gradient-to-br from-theme to-cyan-500;
  }
  .theme-link {
    @apply mr-10 transition-colors hover:text-theme;
  }
  .theme-btn {
    @apply inline-flex rounded-3xl bg-dark px-6 py-3 font-bold text-white transition-colors duration-200 hover:bg-cyan-500 hover:text-white dark:bg-white dark:text-dark dark:hover:bg-cyan-500 dark:hover:text-white;
  }
  .nav-menu-link {
    @apply block border-b-2 border-white p-5 capitalize transition-all hover:border-b-theme dark:hover:text-theme;
  }
  .album-image {
    @apply relative aspect-[1149/761] rounded-lg border-2 border-white text-white shadow-3xl transition-colors hover:border-theme hover:text-theme;
  }
  .hero-section-image {
    @apply absolute aspect-[1920/1080] w-1/2 select-none after:absolute after:inset-0 after:top-0 after:z-10 after:w-0 after:bg-theme;
  }
  .footer-link {
    @apply my-2 flex items-center gap-3 text-dark/70 transition-colors hover:text-dark dark:text-white/90 dark:hover:text-theme;
  }
  .image-layer-btn {
    @apply inline-block rounded-md p-2 font-semibold transition-colors;
  }
  .image-layer-btn.cs-fixed {
    @apply bg-white text-dark hover:bg-theme hover:text-white;
  }
  .image-layer-btn.cs-change {
    @apply bg-dark text-white hover:bg-theme hover:text-white dark:bg-white dark:text-dark dark:hover:bg-theme dark:hover:text-white;
  }
  .image-layout-cover {
    @apply before:focus-gradient absolute inset-0 opacity-0 transition-opacity before:pointer-events-none before:absolute before:inset-0 hover:opacity-100;
  }
  .loading-circle {
    @apply block aspect-square w-5 rounded-circle bg-neutral-700;
  }
  .menu-option {
    @apply capitalize transition-colors first:rounded-t-md last:rounded-b-md;
  }
  .avatar-menu-option {
    @apply flex items-center gap-x-4 p-3 normal-case;
  }
  .avatar-menu {
    @apply right-0 top-full w-56 translate-x-2;
  }
  .menu-separator {
    @apply border-b-2 border-dotted border-neutral-600;
  }
  .modal-arrow {
    @apply text-7xl text-white transition-colors hover:text-theme disabled:opacity-30 hover:disabled:text-current;
  }
  .bg-cs-change {
    @apply bg-neutral-100 dark:bg-neutral-900;
  }
  .bg-image {
    @apply bg-cover bg-no-repeat;
  }
  .menu-suggestion {
    @apply bg-cs-change flex cursor-pointer items-center gap-4 py-2 pl-4 first:rounded-t-xl last:rounded-b-xl hover:bg-neutral-200 dark:hover:bg-neutral-800;
  }
  .menu-suggestion.focus {
    @apply bg-neutral-200 dark:bg-neutral-800;
  }
  .credential-input {
    @apply h-full w-full rounded-3xl border border-neutral-500 bg-transparent px-4 py-3 outline-cyan-500 dark:outline-cyan-500;
  }
  .credential-input.error {
    @apply border-error outline-none;
  }
  .auth-title {
    @apply text-4xl capitalize lg:text-5xl;
  }
  .cs-button {
    @apply after:transition-inherit relative aspect-[57/28] rounded-2xl border-2 border-dark transition-colors after:absolute after:left-px after:top-1/2 after:aspect-square after:h-[90%] after:translate-y-[-48%] after:rounded-circle after:bg-dark dark:border-white dark:after:left-[57%] dark:after:bg-white;
  }
}

/* prettier-ignore */
@layer utilities {
  .h-inherit {
    height: inherit;
  }
  .transition-inherit {
    transition: inherit;
  }
  .focus-gradient {
    background: radial-gradient(#0000, #0005);
  }
  .focus-gradient-lg {
    background: radial-gradient(#0000, #000000bf);
  }
  .vertical-line-gradient {
    background:
      linear-gradient(90deg, transparent 0%, #000 30%, #000 70%, transparent 100%);
  }
  .mesh-grandient {
    background-image:
      radial-gradient(at 18% 120%, hsla(191, 85%, 53%, 0.4) 0px, transparent 50%),
      radial-gradient(at 100% 130%, hsla(191, 85%, 53%, 0.6) 0px, transparent 50%),
      radial-gradient(at 150% 33%, hsla(191, 85%, 53%, 1) 0px, transparent 50%),
      radial-gradient(at 35% -60%, hsla(191, 85%, 53%, 1) 0px, transparent 50%);
  }
}

body.transition-off * {
  transition: none !important;
}
.scrolling-disabled {
  @apply overflow-y-hidden pr-4;
}
